<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>#ff0006</string>
	<string>#ff7900</string>
	<string>#fff000</string>
	<string>#8ec21f</string>
	<string>#0181ff</string>
	<string>#9000ee</string>
</array>
</plist>
